.section-content {
  background: white;
  background: rgba(255, 255, 255, 0.3);
  padding: 2em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.section-heading {
  font-size: 2em;
  font-weight: 500;
}

.wf-roundedmplus1c,
.wf-roundedmplus1c * {
  font-family: "Rounded Mplus 1c";
}
