$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";
@import "~skeleton-sass-official/skeleton/core/config";
// theme variable overrides
@import "~skeleton-sass-official/skeleton/themes/fresh/vars";
// theme base styles
@import "~skeleton-sass-official/skeleton/themes/fresh/include_components";
// theme grid styles
@import "~skeleton-sass-official/skeleton/themes/fresh/grid";
@import url("//fonts.googleapis.com/css?family=Raleway:400,300,600");

html, body {
  height: 100%;
  margin: 0;
}

.root-container {
  padding: 2em;
}

@media screen and (min-width: 480px) {
section {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
}

.section-content {
  padding: 2.0em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.first-section {
  background: #FFFFBB;
  .section-content{
    background: white;
    background: rgba(255,255,255,.3);
  }
}

.second-section {
  background: #BBFFFF;
}

.hero-image {
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 60%;
}

.button {
  span {
    color: white;
  }
  border: none;
}

/* 汎用的なやつ */
.text-center{
  text-align: center;
}


/* ナビゲーションメニュー ------------------ */
#nav {
  margin: 13px 0 0 0;
  ul li {
    display: inline;
    margin: 0 20px 0 0;
    margin-bottom: 200px;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.mini-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
}