on:
  push:
    branches:
      - dev

name: Install, Build, and Deploy

jobs:
  build:
    name: Install
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - run: npm ci
    - run: npm run generate
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist
        publish_branch: master
  
  