on:
  push:
    branches:
      - dev

name: Install, Build, and Deploy

jobs:
  build:
    name: Install
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: '22'
        cache: 'npm'
    - run: npm ci
    - run: npm run generate
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./.output/public
        publish_branch: master
